@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");

* {
    font-family: "Open Sans", sans-serif;
    background-color: rgb(237, 203, 203);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button {
    border: 1px solid rgb(191, 130, 130);
    border-radius: 5px;
    background-color: rgb(230, 170, 170);
    color: rgb(209, 73, 73);
    text-align: center;
    padding: 5px;
}

input[type="text"]{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

#task {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.task-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

:checked + label {
    text-decoration: line-through;
    color: grey;
}